.my-container {
  width: 800px;
  margin: 0 auto;
}

.notes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.mynote {
  width: 250px;
  height: 150px;
  border: #533192;
  border-radius: 8px;
  padding: 5px;
  background-color: #533192;
  color: #fff;
  position: relative;
}

.noteBtn {
  padding: 10px;
  background-color: #533192;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
}
.noteBtn:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #533192;
}

.my-text {
  font-size: 20px;
  font-weight: 800;
}
.note-header {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #533192;
}

.clearBtn {
  background-color: #533192;
  padding: 5px;
  border: 1px solid #533192;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
  color: #fff;
}
.clearBtn:hover {
  background-color: #fff;
  border: 1px solid #533192;
  color: #000;
}

.buttonGap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  left: 30%;
  bottom: 20px;
  text-align: center;
}
