.add-container {
  width: 400px;
  margin: 0 auto;
  /* border: 1px dotted #533192; */
  padding: 5px;
}

.add-text {
  border-radius: 8px;
}

.add-note {
  background-color: #533192;
  padding: 10px;
  border: 1px solid #533192;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
  color: #fff;
}

.add-note:hover {
  background-color: #fff;
  border: 1px solid #533192;
  color: #533192;
}

#my-text {
  border: 1px solid #533192;
  border-radius: 8px;
}
