.createBtn {
  background-color: #533192;
  padding: 8px 16px;
  border: 1px solid #533192;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
  color: #fff;
}
.createBtn:hover {
  background-color: #fff;
  border: 1px solid #533192;
  color: #533192;
}
